.palette {
    display: block;
    max-width: 20px * 16;
}
    
.palette-colour {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 2px;

    &:hover {
        .palette-colour__prefs {
            display: block;
        }
    }

    &__selected {
        border: 1px solid white;
    }

    &__prefs {
        display: none;
        background: red;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 16px;

        & input {
            display: none;
        }
    }

    &__preview {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: inline-block;
        border: 1px solid #333;
    }
}